h2 {
    color: #807e7e!important;
    font-weight: 300;
}

.iconSoat {
    position: relative;
    right: -79px;
    top: -115px;
    font-size: 19px;
}

.iconVehicle {
    position: relative;
    right: -65px;
    top: -150px;
    font-size: 19px;
}

.iconFile {
    position: relative;
    right: -110px;
    top: -150px;
    font-size: 19px;
}