<div class="table">
    <form #frmVehicleTwo="ngForm">

        <div class="row">
            <div class="col-12">
                <h2>Datos del vehículo II</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <ion-text color="medium">
                    <h3>SOAT</h3>
                </ion-text>

                <div class="container text-center">
                    <div class="photo-driver" style=" width: 80%; height:150px;" (click)="onShowSheetImg( typeFile.soat )">
                        <img [src]=" driverFiles.onGetSrc( 'SOAT' )  | imgDriver: 'SOAT' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                        <ion-icon class="iconSoat" color="primary" name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>

            </div>
            <div class="col-12">

                <ion-item class="ionitem" [ngClass]="{
                    'is-invalid': 
                        expSoat.errors?.required  && expSoat.touched,
                    'is-valid': 
                        !expSoat.errors?.required && expSoat.touched      
                    }">
                    <ion-icon slot="start" name="calendar-outline"></ion-icon>

                    <span class="msgValidation" *ngIf="expSoat.errors?.required && expSoat.touched">
                        <small class="text-danger">*Requerido</small>
                    </span>

                    <ion-label>Expiraci&oacute;n</ion-label>
                    <ion-datetime slot="end" [pickerOptions]="pickerOptLicense" [monthNames]="monthNames" [monthShortNames]="monthNames" [min]="minYear" [max]="maxValue" placeholder="D&iacute;a/Mes/A&ntilde;o" name="expSoat" #expSoat="ngModel" [(ngModel)]="bodyDriver.dateSoatExpiration"
                        required="true"></ion-datetime>
                </ion-item>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ion-slides mode="ios" style="width: 95%;" [options]="optSlideRecords">

                    <ion-slide>
                        <div class="row">
                            <div class="col-12">
                                <ion-text color="medium">
                                    <h3>Frontal</h3>
                                </ion-text>
                                <div class="container text-center">
                                    <div class="photo-driver" style=" width: 190px; height:250px;" (click)="onShowSheetImg( typeFile.taxiFrontal )">
                                        <img [src]=" driverFiles.onGetSrc( 'TAXI_FRONTAL' )  | imgDriver: 'TAXI_FRONTAL' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                                        <ion-icon class="iconVehicle" color="primary" name="ellipsis-vertical"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="row">
                            <div class="col-12">
                                <ion-text color="medium">
                                    <h3>Espalda</h3>
                                </ion-text>

                                <div class="container text-center">
                                    <div class="photo-driver" style=" width: 190px; height:250px;" (click)="onShowSheetImg( typeFile.taxiBack )">
                                        <img [src]=" driverFiles.onGetSrc( 'TAXI_BACK' )  | imgDriver: 'TAXI_BACK' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                                        <ion-icon class="iconVehicle" color="primary" name="ellipsis-vertical"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="row">
                            <div class="col-12">
                                <ion-text color="medium">
                                    <h3>Interior</h3>
                                </ion-text>
                                <div class="container text-center">
                                    <div class="photo-driver" style=" margin-left: 80px; margin-top: 20px; width: 300px; height:230px;" (click)="onShowSheetImg( typeFile.taxiInterior )">
                                        <img [src]=" driverFiles.onGetSrc( 'TAXI_INTERIOR' )  | imgDriver: 'TAXI_INTERIOR' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                                        <ion-icon class="iconInterior" color="primary" name="ellipsis-vertical"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>

                    </ion-slide>

                </ion-slides>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-6">
                <ion-button fill="clear" shape="round" (click)="onClickAction( 'back')">
                    <ion-icon name="arrow-back-outline"></ion-icon>&nbsp; ATRÁS
                </ion-button>
            </div>
            <div class="col-6">
                <ion-button fill="clear" shape="round" (click)="onClickAction( 'next')" [disabled]="frmVehicleTwo.invalid || !soatValid || !vehicleOneValid || !vehicleTwoValid || !vehicleIntrnalValid">
                    SIGUIENTE&nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </form>
</div>