<div class="table">

    <form #frmDriver="ngForm">
        <div class="row">
            <div class="col-12">
                <h2>Datos del conductor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ion-text color="medium">
                    <h3>Licencia</h3>
                </ion-text>
                <ion-slides mode="ios" style="width: fit-content" #slideLicense>

                    <ion-slide>
                        <ion-card style=" width: 65%; height:120px;" (click)="onShowSheetImg( typeFile.license )">
                            <img [src]=" driverFiles.onGetSrc( 'LICENSE' )  | imgDriver: 'LICENSE' " style="width: 100%; height: 100%; " />
                            <ion-icon class="iconFile" color="warning" name="ellipsis-vertical"></ion-icon>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <ion-item class="ionitem" [ngClass]="{
          'is-invalid': 
              expLicense.errors?.required  && expLicense.touched,
          'is-valid': 
              !expLicense.errors?.required && expLicense.touched      
          }">
                    <ion-icon slot="start" name="calendar-outline"></ion-icon>

                    <span class="msgValidation" *ngIf="expLicense.errors?.required && expLicense.touched">
              <small class="text-danger">*Requerido</small>
          </span>

                    <ion-label>Expiraci&oacute;n</ion-label>
                    <ion-datetime slot="end" [pickerOptions]="pickerOptLicense" [monthNames]="monthNames" [monthShortNames]="monthNames" [min]="minYear" [max]="maxValue" placeholder="D&iacute;a/Mes/A&ntilde;o" name="expLicense" #expLicense="ngModel" [(ngModel)]="bodyDriver.dateLicenseExpiration"
                        required="true"></ion-datetime>
                </ion-item>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ion-item class="ionitem">
                    <ion-label for="chipEmployee">Soy taxista certificado</ion-label>
                    <ion-toggle id="chipEmployee" name="isEmployee" [(ngModel)]="bodyDriver.isEmployee" (ionChange)="onChangeIsEmployee()"></ion-toggle>
                </ion-item>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div *ngIf="viewFile.photoCheck">
                    <ion-text color="medium">
                        <h3>Foto check</h3>
                    </ion-text>

                    <ion-slides mode="ios" style="width: fit-content;" #slidePhotoCheck>
                        <ion-slide>
                            <ion-card style=" width: 65%; height:120px;" (click)="onShowSheetImg( typeFile.photoCheck )">

                                <img [src]=" driverFiles.onGetSrc( 'PHOTO_CHECK' )  | imgDriver: 'PHOTO_CHECK' " style="width: 100%; " />
                                <ion-icon class="iconFile" color="primary" name="ellipsis-vertical"></ion-icon>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div *ngIf="viewFile.criminalRecord">

                    <ion-slides mode="ios" style="width: 90%;" [options]="optSlideRecords">

                        <ion-slide>
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-text color="medium">
                                            <h4>Antc. penales</h4>
                                        </ion-text>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-card style=" width: 150px; height:210px;" (click)="onShowSheetImg( typeFile.criminalRecord )">

                                            <img [src]=" driverFiles.onGetSrc( 'CRIMINAL_RECORD' )  | imgDriver: 'CRIMINAL_RECORD' " style="width: 100%; height: 100%; " />
                                            <ion-icon class="iconFileVertical" color="primary" name="ellipsis-vertical"></ion-icon>
                                        </ion-card>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-slide>

                        <ion-slide>
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="12">

                                        <ion-text color="medium">
                                            <h4>Antc. policiales</h4>
                                        </ion-text>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">

                                        <ion-card style=" width: 150px; height:210px;" (click)="onShowSheetImg( typeFile.policialRecord )">

                                            <img [src]=" driverFiles.onGetSrc( 'POLICIAL_RECORD' )  | imgDriver: 'POLICIAL_RECORD' " style="width: 100%; height: 100%; " />
                                            <ion-icon class="iconFileVertical" color="primary" name="ellipsis-vertical"></ion-icon>
                                        </ion-card>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <ion-button fill="clear" shape="round" (click)="onClickAction(frmDriver, 'back')">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    &nbsp;ATRÁS
                </ion-button>
            </div>
            <div class="col-6">
                <!-- [disabled]="frmDriver.invalid || validFiles" -->
                <ion-button fill="clear" shape="round" (click)="onClickAction(frmDriver, 'next')" [disabled]="frmDriver.invalid || !validLicense || !validPhotoChk || !validCriminalRecord || !validPolicialRecord">
                    SIGUIENTE&nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </form>
</div>