ion-datetime {
    border: none !important;
}

h2 {
    color: #807e7e!important;
    font-weight: 300;
}

.iconFile {
    position: relative;
    top: -110px;
    right: -100px;
    font-size: 19px;
}

.iconFileVertical {
    position: relative;
    top: -200px;
    right: -65px;
    font-size: 19px;
}