<div class="table">

    <form #frmDriver="ngForm">
        <div class="row">
            <div class="col-12">
                <h2>Datos del conductor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ion-text color="medium">
                    <h3>Licencia</h3>
                </ion-text>
                <div class="container text-center">
                    <div class="photo-driver" style=" width: 80%; height:150px;" (click)="onShowSheetImg( typeFile.license )">
                        <img [src]=" driverFiles.onGetSrc( 'LICENSE' )  | imgDriver: 'LICENSE' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                        <ion-icon class="iconFile" color="primary" name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <ion-item class="ionitem" [ngClass]="{
          'is-invalid': 
              expLicense.errors?.required  && expLicense.touched,
          'is-valid': 
              !expLicense.errors?.required && expLicense.touched      
          }">
                    <ion-icon slot="start" name="calendar-outline"></ion-icon>

                    <span class="msgValidation" *ngIf="expLicense.errors?.required && expLicense.touched">
                        <small class="text-danger">*Requerido</small>
                    </span>

                    <ion-label>Expira <span class="text-danger">*</span> </ion-label>
                    <ion-datetime slot="end" [pickerOptions]="pickerOptLicense" [monthNames]="monthNames" [monthShortNames]="monthNames" [min]="minYear" [max]="maxValue" placeholder="D&iacute;a/Mes/A&ntilde;o" name="expLicense" #expLicense="ngModel" [(ngModel)]="bodyDriver.dateLicenseExpiration"
                        required="true"></ion-datetime>
                </ion-item>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ion-item class="ionitem">
                    <ion-label for="chipEmployee">Soy taxista formal</ion-label>
                    <ion-toggle id="chipEmployee" name="isEmployee" [(ngModel)]="bodyDriver.isEmployee" (ionChange)="onChangeIsEmployee()"></ion-toggle>
                </ion-item>
            </div>
        </div>

        <div class="row" *ngIf="bodyDriver.isEmployee">
            <div class="col-12 text-center">
                <ion-text color="medium">
                    <h3>Foto check</h3>
                </ion-text>

                <div class="container text-center">
                    <div class="photo-driver" style=" width: 80%; height:150px;" (click)="onShowSheetImg( typeFile.photoCheck )">
                        <img [src]=" driverFiles.onGetSrc( 'PHOTO_CHECK' )  | imgDriver: 'PHOTO_CHECK' " style="width: 100%; height: 100%; " class="rounded img-raised" />
                        <ion-icon class="iconFile" color="primary" name="ellipsis-vertical"></ion-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!bodyDriver.isEmployee">
            <div class="col-6">
                <ion-text color="medium">
                    <h4>Antc. penales</h4>
                </ion-text>
                <div class="container text-center">

                    <div class="photo-driver" style="  height:250px;" (click)="onShowSheetImg( typeFile.criminalRecord )">

                        <img [src]=" driverFiles.onGetSrc( 'CRIMINAL_RECORD' )  | imgDriver: 'CRIMINAL_RECORD' " style="width: 100%; height: 100%; " class="rounded img-raised" />

                        <ion-icon class="iconFileVertical" color="primary" name="ellipsis-vertical"></ion-icon>
                    </div>

                    <span *ngIf="!validCriminalRecord" class="text-danger">
                        <small>*Requerido</small>
                    </span>
                </div>
            </div>

            <div class="col-6">
                <ion-text color="medium">
                    <h4>Antc. policiales</h4>
                </ion-text>
                <div class="container text-center">
                    <div class="photo-driver" style="  height:250px;" (click)="onShowSheetImg( typeFile.policialRecord )">

                        <img [src]=" driverFiles.onGetSrc( 'POLICIAL_RECORD' )  | imgDriver: 'POLICIAL_RECORD' " style="width: 100%; height: 100%; " class="rounded img-raised" />

                        <ion-icon class="iconFileVertical" color="primary" name="ellipsis-vertical"></ion-icon>
                    </div>
                    <span *ngIf="!validPolicialRecord" class="text-danger">
                        <small>*Requerido</small>
                    </span>
                </div>
            </div>


        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-6">

                <ion-button fill="clear" shape="round" (click)="onClickAction(frmDriver, 'back')">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    &nbsp;ATRÁS
                </ion-button>
            </div>
            <div class="col-6">
                <ion-button fill="clear" shape="round" (click)="onClickAction(frmDriver, 'next')" [disabled]="frmDriver.invalid || !validLicense || !validPhotoChk || !validCriminalRecord || !validPolicialRecord">
                    SIGUIENTE&nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </form>
</div>