.mapService {
    position: absolute;
    width: 100%;
    height: 100%;
}

.network {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 10px;
}

.fontIcon {
    font-size: 20px;
    font-weight: bold;
}

.cardSmall {
    position: absolute;
    width: 100%;
    // margin-top: 10px;
    bottom: 0px;
    background-color: #FFF;
    border-radius: 20px 20px 0px 0px;
}

.cardBorder {
    border-top: 2px solid rgba($color: #ff4524, $alpha: 0.7) !important;
}

.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.alert-confirm {
    background-color: rgba($color: #c04925, $alpha: 0.8);
}