<ion-header no-border>
    <ion-toolbar color="dark">

        <ion-label slot="start">

            <ion-badge slot="start" *ngIf="io.statusSocket" color="success" mode="ios" class=" text-center">
                {{ io.statusSocket | network }}
            </ion-badge>

            <ion-badge slot="start" *ngIf="!io.statusSocket" color="danger" mode="ios" class=" text-center">
                {{ io.statusSocket | network }}
            </ion-badge>
        </ion-label>

        <ion-title>Servicio taxi</ion-title>

        <ion-buttons slot="end">

            <button *ngIf="!runDestination && !finishDestination" class="btn btn-outline-primary" (click)="onRun()">
                <span *ngIf="!runOrigin && !finishOrigin">
                    Ir por pasajero
                </span>
                <span *ngIf="runOrigin && !runDestination && !finishDestination">
                    Iniciar viaje&nbsp;
                </span>
                <i *ngIf="!loadingConfirmNav" class="fas fa-paper-plane"></i>
                <i *ngIf="loadingConfirmNav" class="fas fa-spinner fa-pulse"></i>
            </button>
            <button *ngIf="runDestination" class="btn btn-outline-primary" (click)="onFinish()">
                Finalizar&nbsp;<i class="fas fa-tags"></i>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div #mapService style="width: 100%; height: 100%;">

        <div #infoClient>
            <div>

                <p class="text-dark">
                    {{ dataService.streetOrigin }}
                </p>
            </div>
            <p class="">
                {{ dataServiceInfo.nameClient | slice:0:25 }} <span *ngIf="dataServiceInfo.nameClient.length > 25">...</span> <br>
                <b> {{ distanceText }} - {{ minutesText }} </b>
            </p>

        </div>

    </div>

    <div class="card cardService animated fadeIn" [ngClass]="{'cardLight': codeJournal === 'DIURN', 'cardDark': codeJournal !== 'DIURN'}" *ngIf="!loading">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {{ dataServiceInfo.streetOrigin }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ dataServiceInfo.streetDestination }}
                </div>
            </div>

        </div>

    </div>

    <!-- width: 20rem; -->
    <div *ngIf="!showMoreCard" class="cardSmall animated " [ngClass]="{'fadeInUp': !viewMore, 'fadeOutDown': viewMore}">
        <div class="card-header bg-danger">

            <div class="row">
                <div class="col-8 text-white">
                    {{ dataServiceInfo.aliasCategory }}&nbsp;&nbsp;
                    <small class="text-white"> 
                        <b>
                            ( {{ dataServiceInfo.distanceText }} - {{ dataServiceInfo.minutesText }} ) 
                        </b>
                    </small>
                </div>
                <div class="col-4 text-right text-white" (click)="onMoreInfo()">
                    <i class="now-ui-icons fontIcon" [ngClass]="{'arrows-1_minimal-down': viewMore, 'arrows-1_minimal-up': !viewMore}"></i>

                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- <div class="card-title">
            </div> -->
            <div class="row">
                <div class="col-4">
                    <img [src]="pathUser + dataServiceInfo.imgClient + '?token=' + st.token " alt="" style="width: 90px; height: 85px;">
                </div>
                <div class="col-8">

                    <p class="card-text text-center">
                        <strong class="text-primary">{{ dataServiceInfo.nameClient }}</strong><br>
                        <!-- <span> <i class="fas fa-star"></i> 4.5 </span><br> -->
                        <span>
                            <i style="font-size: 20px;" [ngClass]="{'fa-money-check': dataServiceInfo.paymentType === 'CARD', 'fa-money-bill-alt': dataServiceInfo.paymentType !== 'CARD'}" class="fas"></i>&nbsp;
                            <b>

                                {{ dataServiceInfo.paymentType | payment }}
                                &nbsp;
                                S/ {{ dataServiceInfo.rateOffer | number: '.2-2' }}
                            </b>
                        </span>

                    </p>
                </div>
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>


    <div *ngIf="showMoreCard" class="cardSmall cardBorder animated " [ngClass]="{'fadeInUp': viewMore, 'fadeOutDown': !viewMore}">
        <!-- right: 20px; -->
        <div style="position: absolute; bottom: 165px; right: 20px;">

            <i class="now-ui-icons fontIcon text-primary" [ngClass]="{'arrows-1_minimal-down': viewMore, 'arrows-1_minimal-up': !viewMore}" (click)="onMoreInfo()"></i>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img [src]="pathUser + dataServiceInfo.imgClient + '?token=' + st.token" alt="" style="width: 90px; height: 85px;">
                </div>
                <div class="col-8">

                    <p class="card-text text-center">
                        <strong class="text-primary">{{ dataServiceInfo.nameClient }}</strong><br>
                        <span> <i class="fas fa-star"></i> 4.5 </span><br>
                        <span>
                            <i style="font-size: 20px;" [ngClass]="{'fa-money-check': dataServiceInfo.paymentType === 'CARD', 'fa-money-bill-alt': dataServiceInfo.paymentType !== 'CARD'}" class="fas"></i>&nbsp;
                            <b>
    
                                {{ dataServiceInfo.paymentType | payment }}
                                &nbsp;
                                S/ {{ dataServiceInfo.rateOffer | number: '.2-2' }}
                            </b>
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <ion-button expand="block" fill="outline" shape="round" color="medium" (click)="onSharedGeo()">
                        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    </ion-button>
                </div>

                <div class="col-4">
                    <ion-button *ngIf="!runDestination" expand="block" fill="outline" shape="round" color="medium" (click)="onShowChat()">
                        <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
                        <ion-badge class="badgeNewMsg" color="danger" *ngIf="!runDestination && newMessages > 0">
                            {{ newMessages }}
                        </ion-badge>
                    </ion-button>


                    <ion-button *ngIf="runDestination" expand="block" fill="outline" shape="round" color="medium" (click)="onShowAlert()">
                        <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
                    </ion-button>
                </div>

                <div class="col-4">
                    <!-- (click)="onClick()" -->
                    <ion-button *ngIf="!this.runDestination" expand="block" fill="outline" shape="round" color="danger" (click)="onConfirmDel()">
                        <ion-icon *ngIf="!loadingConfirm" slot="icon-only" name="close-outline"></ion-icon>

                        <i *ngIf="loadingConfirm" class="fa fa-spinner fa-spin" aria-hidden="true"></i>

                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="alertService animated " *ngIf="showAlert" [ngClass]="{ 'fadeInDown': !hideAlert, 'fadeOutDown': hideAlert }">
        <br>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4 text-center" (click)="onCancelAlert()">
                <i class=" fa fa-times " aria-hidden="true " style="font-size: 30px; "></i>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 text-center ">
                <label class="fontAlert " style="font-size: 45px; ">
                    <b>
                        Alerta!!!
                    </b>
                </label>
                <p class="msgAlert ">
                    <b>Enviando alerta a contactos de emergencia y a la central llamataxi en...</b>
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center iconAlert ">
                <i class="fas fa-bell "></i>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center ">
                <span style="font-size: 45px; " *ngIf="!loadingAlert">
                    <b>
                        {{ seconds }}
                    </b>
                </span>

                <i class="fa fa-spinner fa-pulse btnCancelAlert" aria-hidden="true" *ngIf="loadingAlert"></i>

                <p *ngIf=" successAlert || dangerAlert " style="font-size: 17px;">
                    <i class="fas fa-check iconResponse" *ngIf="successAlert"></i>
                    <i class="fas fa-exclamation-circle iconResponse" *ngIf="dangerAlert"></i>
                    <b>
                        {{ msgAlert }}
                    </b>
                </p>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-12 text-center ">
                <ion-button (click)="onCancelAlert()" expand="block" fill="clear" shape="round" class="btnCancelAlert" *ngIf="!loadingAlert && !successAlert && !dangerAlert">
                    <ion-icon slot="start" name="close"></ion-icon>
                    Cancelar
                </ion-button>


            </div>
        </div>

    </div>

</ion-content>