<ion-header no-border>
    <ion-toolbar color="dark">

        <ion-title>Servicio de taxi</ion-title>

        <ion-buttons slot="end">

            <button *ngIf="!runDestination && !finishDestination" class="btn btn-outline-primary" (click)="onRun()">
                Iniciar viaje&nbsp;<i class="fas fa-paper-plane"></i>
            </button>
            <button *ngIf="runDestination" class="btn btn-outline-primary" (click)="onFinish()">
                Finalizar&nbsp;<i class="fas fa-tags"></i>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div #mapService style="width: 100%; height: 100%;">

        <div #infoClient>
            <div>

                <p class="text-dark">
                    {{ dataService.streetOrigin }}
                </p>
            </div>
            <p class="">
                {{ dataServiceInfo.nameClient | slice:0:25 }} <span *ngIf="dataServiceInfo.nameClient.length > 25">...</span> <br>
                <b> {{ distanceText }} - {{ minutesText }} </b>
            </p>

        </div>

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 75px;" (click)="onSharedGeo()">
        <ion-fab-button color="primary">
            <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="!runDestination" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="runDestination && !finishDestination" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>