<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Servicios ceranos</ion-title>

        <ion-buttons slot="end">
            <ion-back-button color="light">
                <!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon> -->
                <!-- Salir -->
            </ion-back-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="background: rgba(255, 255, 255, 0.2);">
        <ion-list-header>
            <ion-label>Buscando servicio de taxi</ion-label>
            <ion-button>See All</ion-button>
        </ion-list-header>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                <ion-card-title>Awesome Title</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                <ion-card-title>Awesome Title</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                <ion-card-title>Awesome Title</ion-card-title>
            </ion-card-header>
        </ion-card>

    </ion-list>
</ion-content>