.text-rate {
    padding-top: 25px;
    font-size: 22.5px;
    // font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.text-service {
    margin-top: 15px;
    font-size: 13px;
    font-display: initial;
}