ion-content {
    // margin-top: -50px !important;
    --padding-top: -7px !important;
}

h2 {
    color: #807e7e!important;
}

.iconFile {
    position: relative;
    top: -117px;
    right: -117px;
    font-size: 19px;
}

.toUpper {
    text-transform: uppercase;
    text-align: right;
}