p {
    font-size: 13.5px;
    // font-family: 'Patrick Hand';
    font-family: Roboto;
    color: rgba($color: #3b3d44, $alpha: 1.0);
    // font-family: 'Nucleo Outline';
}

h3 {
    font-size: 16px;
    color: rgba($color: #3b3d44, $alpha: 1.0);
}

h1 {
    color: rgba($color: #3b3d44, $alpha: 1.0);
}

.titlePage {
    font-family: 'Overpass', sans-serif;
}