<ion-header>
    <ion-toolbar>
        <ion-title>


            <span class="text-success">
                S/ {{ data.amount | number: '.2-2' }}
            </span> &nbsp;{{ data.codeLiquidation }}

        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onClose()" color="danger">
                <ion-icon name="close"></ion-icon>
                CERRAR
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngIf="loading">

        <ion-item *ngFor="let item of [1,1,1]">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <p>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </p>
            </ion-label>

            <div class="bagdeColor">
            </div>
            &nbsp; &nbsp;
            <ion-text>
                <h6>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h6>

            </ion-text>
        </ion-item>

    </ion-list>

    <ion-list>

        <ion-card class="cardjournal" mode="ios" *ngFor="let journal of dataInfo">

            <ion-item lines="none">
                <ion-label>
                    <i class="fas fa-clipboard-list"></i> &nbsp; {{ journal.codeJournal }}
                    <p>
                        Cerrado {{ journal.dateEnd | moment }}
                        <br> - - - - - - - - - - - - - - - - - - - - - - - - <br>
                        <small> {{ journal.nameJournal }} S/ {{ journal.totalPay | number:'.2-2' }} </small>
                    </p>

                </ion-label>

            </ion-item>

            <ion-item class="labelPaid">
                <ion-label>
                    <ion-icon style="font-size: 25px;" color="warning" name="car-sport-sharp"></ion-icon>
                    <span style="margin-bottom: 6px;">
                        {{ journal.countService }}
                    </span>
                    <p>
                        <!-- --ion-color-danger -->
                        <ion-badge style="text-align: right;" mode="ios" [ngClass]="{'paid': journal.paidOut, 'paidOut': !journal.paidOut}">
                            {{ journal.paidOut | paid }}
                        </ion-badge>
                    </p>
                </ion-label>
            </ion-item>

        </ion-card>

        <ion-grid fixed>
            <ion-row>
                <ion-col size="7">
                    <ion-card mode="ios" class="card-voucher">
                        <!-- <img [src]="pathImg + data.fileOperation + '?token=' + token | imgSanitizer" alt="voucher"> -->
                        <ion-img [src]="pathImg + data.fileOperation + '?token=' + st.token"></ion-img>
                    </ion-card>

                    <ion-item lines="none">
                        <ion-label class="text-center">
                            {{ data.operation }}
                        </ion-label>
                    </ion-item>
                    <!-- <ion-button *ngIf="data.fileOperation != 'xD.png'" (click)="onDowlandVoucher()" expand="block" fill="clear" shape="round" [disabled]="loadingDowland">
                        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                        <ion-spinner *ngIf="loadingDowland" name="bubbles"></ion-spinner>
                    </ion-button> -->
                </ion-col>
                <ion-col size="5">

                    <ion-item lines="none">
                        <ion-label class="text-right">
                            <i slot="start" class="fas fa-hand-holding-usd"></i> {{ totalCash | number: '.2-2' }}
                            <p>
                                Efectivo
                            </p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label class="text-right">
                            <i slot="start" class="fas fa-credit-card"></i> {{ totalCard | number: '.2-2' }}
                            <p>
                                Tarjeta
                            </p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label class="text-right">
                            <i slot="start" class="fab fa-bitcoin"></i> {{ totalCredit | number: '.2-2' }}
                            <p>
                                Llamacréditos
                            </p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label class="text-right">
                            <i slot="start" class="fas fa-receipt"></i> {{ totalDiscount | number: '.2-2' }}
                            <p>
                                Descuentos
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-list>

</ion-content>