<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Mis veh&iacute;culos</ion-title>

        <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!loading">
        <ion-list-header>
            <ion-label>Vehiculos registrados</ion-label>
            <ion-button (click)="onShowModalAdd()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Nuevo
            </ion-button>
        </ion-list-header>

        <div class="card" *ngFor="let vh of dataVehicle" style=" width: 95%; margin-left: 10px; padding: 20px; height: 170px;">
            <div class="card-header">
                <div class="card-subtitle text-muted">
                    <div class="row">
                        <div class="col-7">
                            <ion-label>{{ vh.nameBrand || 'Pendiente' }} - {{ vh.numberPlate }}</ion-label>
                        </div>
                        <div class="col-5 text-right">
                            <div class="row">
                                <div class="col-6">

                                    <button class="btn btn-sm btn-fill btn-header" (click)="onEditVehicle( vh )">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-sm btn-fill btn-header" *ngIf="!vh.driverUsing" (click)="onDeleteVehicle( vh )">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-4">
                        <img [src]="vh.srcTaxiFrontal | imgDriver: 'TAXI_FRONTAL'" class="rounded-circle img-raised" style="width: 195px; height: 80px;">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                A&ntilde;o: {{ vh.year }}
                            </div>

                            <div class="col-12">
                                Categor&iacute;a: {{ vh.nameCategory || 'Pendiente' }}
                            </div>

                            <div class="col-12">
                                Color: {{ vh.color | color }}
                            </div>

                            <div class="col-12 text-right" *ngIf="vh.verified && !vh.driverUsing">
                                <ion-button fill="clear" shape="round" (click)="onShowConfirm( vh.pkVehicle )">
                                    Seleccionar
                                </ion-button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </ion-list>

    <ion-list *ngIf="loading">

        <ion-card *ngFor="let item of [1,1,1]">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-item>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>

                        <ion-skeleton-text slot="end" animated style="width: 20%"></ion-skeleton-text>
                    </ion-item>

                </ion-card-subtitle>
                <!-- <ion-card-title>Awesome Title</ion-card-title> -->
            </ion-card-header>

            <ion-card-content>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="6">
                            <ion-skeleton-text animated style="width:50%; height: 80px;" class="rounded-circle img-raised"></ion-skeleton-text>

                        </ion-col>
                        <ion-col size="6">
                            <div class="row">
                                <div class="col-12">
                                    <ion-skeleton-text animated style="width:50%;"></ion-skeleton-text>
                                </div>

                                <div class="col-12">
                                    <ion-skeleton-text animated style="width:50%;"></ion-skeleton-text>
                                </div>

                                <div class="col-12">
                                    <ion-skeleton-text animated style="width:50%;"></ion-skeleton-text>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </ion-list>
</ion-content>