<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>

    </ion-toolbar>

    <ion-toolbar>
        <ion-title class="fontTitle">Mis veh&iacute;culos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!loading">
        <ion-list-header>
            <ion-label>Vehiculos registrados</ion-label>
            <ion-button (click)="onShowModalAdd()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Nuevo
            </ion-button>
        </ion-list-header>

        <ion-card mode="ios" *ngFor="let vh of dataVehicle">
            <ion-img [src]="vh.srcTaxiFrontal " class="imgCar"></ion-img>
            <ion-item lines="none">
                <div slot="start" class="bagdeColor" [ngClass]="{
                    'bg-blue': vh.color === 'BLUE',
                    'bg-red': vh.color === 'RED',
                    'bg-black': vh.color === 'BLACK',
                    'bg-white': vh.color === 'WHITE',
                    'bg-yellow': vh.color === 'YELLOW',
                    'bg-brown': vh.color === 'BROWN',
                    'bg-green': vh.color === 'GREEN',
                    'bg-beige': vh.color === 'BEIGE',
                    'bg-gray': vh.color === 'GRAY'
                }">
                </div>
                <ion-label slot="start">
                    {{ vh.nameBrand || 'Pendiente' }} &nbsp;
                    <span class="numberPlate">
                        {{ vh.numberPlate }}
                    </span>

                    <p>
                        {{ vh.nameCategory }}

                    </p>
                </ion-label>

                <ion-label>
                    {{ vh.year }}
                    <p *ngIf="vh.driverUsing" style="font-size: 13px; font-weight: bold;" class="text-success">
                        En uso
                    </p>
                </ion-label>
                <ion-button slot="end" (click)="onShowOptions( $event, vh )" expand="block" fill="clear" shape="round">
                    <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>

            </ion-item>
        </ion-card>


    </ion-list>

    <ion-list *ngIf="loading">

        <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <p>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </p>
            </ion-label>

            <div class="bagdeColor">
            </div>
            &nbsp; &nbsp;
            <ion-text>
                <h6>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h6>

            </ion-text>
        </ion-item>

    </ion-list>
</ion-content>