ion-icon {
    font-size: 27px;
}

ion-toolbar {
    --border-style: none;
    --border-width: none;
}

.btn-header {
    position: absolute;
    top: -8px;
    right: 10px;
}

.fontTitle {
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
}

.network {
    position: absolute;
    top: 22px;
    right: 50px;
    font-size: 10px;
}

.imgCar {
    height: 300px;
    position: relative;
}

.verticalColor {
    top: 0px;
    left: 1px;
    position: absolute;
    width: 100px;
    height: fit-content;
    background: rgb(0, 124, 236);
    background: linear-gradient(90deg, rgba(0, 124, 236, 1) 23%, rgba(255, 255, 255, 0.4990371148459384) 50%, rgba(255, 255, 255, 0.3029586834733894) 61%, rgba(255, 255, 255, 0) 76%);
}

.numberPlate {
    border: 1px solid #4e4e4e;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.bagdeColor {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0.5px solid rgba($color: #4e4e4e, $alpha: 0.5)
}

// BLUE
// RED
// BLACK
// WHITE
// GRAY
// YELLOW
// BROWN
// GREEN
// BEIGE
.bg-blue {
    background-color: rgb(22, 18, 245);
}

.bg-red {
    background-color: rgb(247, 45, 45);
}

.bg-black {
    background-color: rgb(14, 14, 14);
}

.bg-white {
    background-color: rgb(211, 210, 223);
}

.bg-yellow {
    background-color: rgb(250, 219, 41);
}

.bg-brown {
    background-color: rgb(85, 71, 45);
}

.bg-green {
    background-color: rgb(4, 124, 40);
}

.bg-beige {
    background-color: rgb(223, 198, 130);
}

.bg-gray {
    background-color: rgb(163, 163, 163);
}