<ion-header no-border>
    <ion-toolbar mode="md" no-border>

        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>


    </ion-toolbar>

    <ion-toolbar mode="md" no-border>
        <ion-title class="titlePage">Cambiar contrase&ntilde;a</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="animated fadeIn">

        <ion-slides #slideRestore style="width: 100%; height: 100%;">
            <ion-slide>

                <form #frmPass="ngForm">
                    <br>
                    <div class="table" style="padding-left: 25px; padding-right: 35px;">

                        <div class="row">
                            <div class="col-12">
                                <small>
                                    <p>
                                      Recuerde, la próxima vez que inicie sesi&oacute;n deber&aacute; ingresar con su <b>nueva contrase&ntilde;a</b>.
                                    </p>      
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="txtPassOld">Contrase&ntilde;a actual</label>
                                    <input type="password" class="form-control" id="txtPassOld" placeholder="Actual" name="passOld" #oldPass="ngModel" [(ngModel)]="body.passwordOld" [ngClass]="{
                                      'form-control-danger': oldPass.errors?.required  && oldPass.touched,
                                      'form-control-success': !oldPass.errors?.required && oldPass.touched
                                    }" required>
                                    <small class="form-text text-muted text-danger" *ngIf="oldPass.errors?.required  && oldPass.touched">
                                      *Requerido
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="txtPassOld">Nueva contrase&ntilde;a</label>
                                    <input type="password" class="form-control" id="txtPassOld" placeholder="Nueva" name="passNew" #passNew="ngModel" [(ngModel)]="body.password" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*" [ngClass]="{'form-control-danger': ( passNew.errors?.required || passNew.errors?.pattern )  && passNew.touched,
                                            'form-control-success': !passNew.errors?.required && !passNew.errors?.pattern && passNew.touched
                                    }" required>
                                    <small class="form-text text-muted text-danger" *ngIf="passNew.errors?.required  && passNew.touched">
                                      *Requerido
                                    </small>

                                    <small class="form-text text-muted text-danger" *ngIf="passNew.errors?.pattern  && passNew.touched">
                                      *Minuscula, mayuscula y un n&uacute;mero
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="txtPassOld">Repita contrase&ntilde;a</label>
                                    <input type="password" class="form-control" id="txtPassOld" placeholder="Repita" name="passRepit" #passRepit="ngModel" [(ngModel)]="body.passRepit" [ngClass]="{
                                      'form-control-danger': ( passRepit.errors?.required || (body.password != body.passRepit ) ) && passRepit.touched,
                                      'form-control-success': !passRepit.errors?.required && !(body.password != body.passRepit) && passRepit.touched
                                    }" required>
                                    <small class="form-text text-muted text-danger" *ngIf="passRepit.errors?.required  && passRepit.touched">
                                      *Requerido
                                    </small>

                                    <small class="form-text text-muted text-danger" *ngIf="(body.password != body.passRepit ) && passRepit.touched">
                                      *No coindicen
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ion-grid fixed>


                        <ion-row>
                            <ion-col size="12">
                                <ion-button (click)="onChangePassword( frmPass )" expand="block" fill="clear" shape="round" [disabled]="frmPass.invalid">
                                    Guardar cambios
                                </ion-button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>

                </form>


            </ion-slide>

        </ion-slides>

    </ion-list>

</ion-content>