<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Estadísticas</ion-title>

        <ion-label slot="end">
            <!-- <ion-icon *ngIf="io.statusSocket" slot="only-icon" name="radio-button-on-outline" color="success">
          </ion-icon>

          <ion-icon *ngIf="!io.statusSocket" slot="only-icon" name="radio-button-off-outline" color="danger">
          </ion-icon> -->

            <ion-badge *ngIf="io.statusSocket" color="success" mode="ios" class="network text-center">
                {{ io.statusSocket | network }}
            </ion-badge>

            <ion-badge *ngIf="!io.statusSocket" color="danger" mode="ios" class="network text-center">
                {{ io.statusSocket | network }}
            </ion-badge>
        </ion-label>

        <ion-buttons slot="end">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <!-- <ion-list-header>
            <ion-label>Mis estadísticas durante el día y/o semana</ion-label>
        </ion-list-header> -->

        <ion-grid fixed>

            <ion-row>
                <ion-col size="12">
                    <ion-item-divider>
                        <ion-label>Servicios en el día</ion-label>
                    </ion-item-divider>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <br>
                    <canvas baseChart #dayChart></canvas>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item-divider>
                        <ion-label>Servicios finalizados en la semana</ion-label>
                    </ion-item-divider>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <br>
                    <canvas baseChart #weekChart></canvas>
                </ion-col>
            </ion-row>

        </ion-grid>

    </ion-list>

</ion-content>