<ion-header>
    <ion-toolbar>
        <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides mode="ios" pager="ios" scrollbar="ios" style="width: 100%; height: 100%;">

        <ion-slide>

            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12">
                        <h1>Bienvenido, {{ st.nameComplete }}</h1>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <p>
                            En estos momentos se encuentra en un proceso de verificaci&oacute;n, en el transcurso de las proximas 24 horas nos pondremos en contacto con usted.
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-slide>

        <ion-slide>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12">
                        <h1>Acerca de llama taxi App</h1>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <p>
                            Somos <b>GRUPO 8 INTERNACIONAL</b>, ponemos a tu alcance una app inteligente e intuitiva con las mejores tarifas en el sector transporte.
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid fixed>

                <ion-row>
                    <ion-col size="12">
                        <h1>Solo un &uacute;ltimo paso</h1>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <p>
                            No olvides seguirnos en todas nuestras redes sociales para enterarte acerca de eventos, promociones y demás.
                        </p>

                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col size="12">

                        <ion-button (click)="onFinish()" expand="block" fill="clear" shape="round">
                            FINALIZAR
                        </ion-button>

                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-slide>

    </ion-slides>
</ion-content>