ion-radio-group {
    ion-item {
        margin-top: 0px !important;
        // --background: rgba(10, 20, 50, 0.5) !important;
        border-radius: 25px 25px 25px 25px !important;
        margin: -9px !important;
        --padding-end: 55px !important;
        --background-hover-opacity: rgba(255, 255, 255, 0.5);
        --background-focused: rgba(255, 255, 255, 0.5);
        --background-activated: rgba(255, 255, 255, 0.5);
        ion-radio {
            margin: 9px !important;
        }
    }
}

.label {
    color: #807e7e!important;
    font-weight: 300;
    font-size: 1rem!important;
}

.icon {
    font-size: 18.5px;
    margin-bottom: 5px;
    color: var(--ion-color-primary) !important;
}

.itemSex {
    --highlight-height: 0;
    border: 1px solid var(--ion-color-primary) !important;
    border-radius: 25px 25px 25px 25px !important;
    margin: 12px;
    height: 40px !important;
    --background-focused: var(--ion-color-primary) !important;
    --background-activated: var(--ion-color-primary) !important;
    --background-activated-opacity: 0.5px;
}

.iconFile {
    position: relative;
    top: -148px;
    right: -53px;
    font-size: 19px;
}

h2 {
    color: #807e7e!important;
    font-weight: bold;
}

.photo-driver {
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .3);
}