.iconImg {
    position: relative;
    top: -115px;
    right: -123px;
    font-size: 19px;
}

.iconFile {
    position: relative;
    top: -220px;
    right: -60px;
    font-size: 19px;
}

.photo-driver {
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .3);
}