ion-content {
    // margin-top: -50px !important;
    --padding-top: -7px !important;
}

h2 {
    color: #807e7e!important;
    font-weight: bold;
}

.referalIcon {
    font-size: 18.5px;
    margin-bottom: 15px;
    color: #f96332 !important;
    // color: var(--ion-color-primary) !important;
}

.inputReferal {
    font-size: 19px;
    font-weight: bold;
}