.bgLogin {
    background-image: url('../../../assets/fondos/taxi_fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgGradient {
    background-color: rgba(146, 145, 145, 0.404);
}

#navigation {
    background-color: white;
}