<ion-content class="animated fadeIn">
    <div class="login-page sidebar-collapse bgLogin">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
            <div class="container">

                <div class="navbar-translate">
                    <a class="navbar-brand" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
                        Bienvenido conductor v 1.0.13
                    </a>
                </div>

            </div>
        </nav>

        <!-- End Navbar -->
        <div class="page-header clear-filter" filter-color="primary">
            <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
            <div class="content">
                <div class="container">
                    <div class="col-md-4 ml-auto mr-auto">
                        <div class="card card-login card-plain" style="margin-top: 20px;">
                            <!--  -->
                            <form #frmLogin="ngForm" id="frmLogin" class="form" (submit)="onLogin(frmLogin)">
                                <div class="card-header text-center">

                                    <img src="../assets/img/logo-dark-2.png" alt="" style="width: 130px;">
                                    <br>
                                    <br>
                                </div>
                                <div class="card-body">
                                    <div class="input-group no-border input-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i style="font-size: 16px; padding-right: 38px;" class="now-ui-icons users_circle-08"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Usuario" name="userName" #user="ngModel" [(ngModel)]="bodyLogin.userName" [ngClass]="{'is-invalid': user.errors?.required && user.touched,
                                        'is-valid': !user.errors?.required && user.touched}" required>
                                    </div>
                                    <small class="text-danger" *ngIf="user.errors?.required && user.touched">
                                        *Requerido
                                    </small>
                                    <div class="input-group no-border input-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i style="font-size: 16px; padding-right: 38px;" class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input [type]="typeInput" placeholder="Contrase&ntilde;a" class="form-control" name="nameComplete" #password="ngModel" [(ngModel)]="bodyLogin.userPassword" [ngClass]="{'is-invalid': password.errors?.required && password.touched,
                                        'is-valid': !password.errors?.required && password.touched}" required />

                                        <div class="input-group-append">
                                            <div class="input-group-text" (click)="onViewPassword()">
                                                <i style="font-size: 16px; padding-right: 35px;" class="fa fa-eye" [ngClass]="{'text-primary': viewPass, 'text-white': !viewPass}" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="text-danger" *ngIf="password.errors?.required && password.touched">
                                        *Requerido
                                    </small>
                                </div>
                                <div class="card-footer text-center">

                                    <button type="submit" [disabled]="frmLogin.invalid" class="btn  btn-info btn-round btn-lg btn-block">
                                        Iniciar sesión&nbsp; &nbsp;
                                        <!-- <ion-spinner slot="end" *ngIf="loading" name="bubbles" color="light"></ion-spinner> -->
                                        <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
                                    </button>

                                    <div class="pull-left">
                                        <h2>
                                            <a href="#" [routerLink]="['/singin']" style="font-size: 15px; font-weight: bold;">
                                                Crear cuenta
                                            </a >
                                        </h2>
                                    </div>
                                    <div class="pull-right">
                                        <h6>
                                            <!-- <a href="#pablo" class="link">Need Help?</a> -->
                                            </h6>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>