h2 {
    color: #807e7e!important;
    font-weight: 300;
}

ion-datetime {
    --padding-end: 40px;
}

ion-list-header {
    ion-label {
        color: #807e7e!important;
        font-weight: 300;
        font-size: 1.5rem!important;
    }
}

ion-radio-group {
    ion-item {
        --highlight-height: 0;
        border: none !important;
        border-radius: 25px 25px 25px 25px !important;
        height: 38px !important;
        padding: 0px;
    }
    ion-label {
        color: #807e7e!important;
        font-weight: 300;
        font-size: 1rem!important;
        margin-bottom: 20px !important;
    }
    ion-radio {
        --padding-end: 40px !important;
        margin-bottom: 20px !important;
    }
    ion-icon {
        font-size: 18.5px;
        margin-bottom: 15px;
        color: var(--ion-color-primary) !important;
    }
}

.iconFile {
    position: relative;
    top: -132px;
    right: -127px;
    font-size: 24px;
    font-weight: bold;
}

.toUpper {
    text-transform: uppercase;
    text-align: right;
}

.photo-driver {
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .3);
}

h2 {
    color: #807e7e!important;
    font-weight: bold;
}