.mapHome {
    width: 100%;
    height: 100%;
    position: relative;
}

.netwoek {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 10px;
}

.fontP {
    font-family: 'Patrick Hand';
}

.fontTitle {
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
}

.coupon {
    position: absolute;
    top: 35px;
    right: 15px;
    padding: 5px;
}

.couponMore {
    position: absolute;
    top: 2px;
    right: 8px;
    padding: 5px;
}

.iconCoupon {
    transform: rotate(-15deg);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.slidesServices {
    position: absolute;
    bottom: 5px;
    width: 100%;
    // height: 250px;
}

.cardTaxi {
    // position: absolute;
    width: 240px;
    // max-width: 230px;
    // min-width: 230px;
    height: 180px;
    // bottom: 5px;
    border-radius: 15px 15px 15px 15px;
}

.cardLight {
    background-color: rgba($color: #f7f2f2d8, $alpha: 0.9);
}

.cardDark {
    background-color: rgba($color: #202020d8, $alpha: 0.9);
    color: #FFF;
    .text-primary {
        color: rgb(236, 184, 14) !important;
    }
}

.fontIcon {
    font-size: 20px;
    font-weight: bold;
}

.cardTouch {
    background-color: rgba($color: #f7793fd8, $alpha: 0.9);
}

.cardMore {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 240px;
    // background-color: rgba($color: #f7f2f2d8, $alpha: 1.0);
    border-radius: 15px 15px 0px 0px;
}

.text-rate {
    position: relative;
    top: 8px;
    font-size: 22.5px;
    // font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.text-service {
    margin-top: 15px;
    font-size: 12.3px;
    font-display: initial;
}

.cardJournal {
    position: absolute;
    top: -5px;
    left: 2px;
    width: 150px;
    height: 62px;
}

.vigent {
    --color: var( --ion-color-success);
}

.expired {
    --color: var( --ion-color-danger);
}