<ion-header no-border>
    <ion-toolbar color="dark">

        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <ion-title>Inicio</ion-title>

        <ion-label slot="end">
            <h3>
                {{ st.category }}
            </h3>
            <p>
                {{ st.brand }}-{{ st.numberPlate }}
            </p>
        </ion-label>

        <ion-buttons slot="end">
            <ion-button expand="block" fill="clear" shape="round" (click)="onRedirectServices()">
                <ion-icon slot="icon-only" color="light" name="earth-outline"></ion-icon>
            </ion-button>
            <ion-badge *ngIf="totalServices > 0" color="danger" mode="ios" class="totalservices text-center">
                {{totalServices}}
            </ion-badge>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div style="width: 100%; height: 100%;" #mapDriver>
    </div>

    <div #infoPolygon>
        <div class="">
            <h4 class="card-title">Zonas calientes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Oferta y demanda</h6>
            <p class="card-text">
                <b class="text-primary"> {{ totalServicesZone }} </b> servicios pendientes y <b class="text-secondary"> {{ totalDriverZone }} </b> conductores cercanos.
            </p>
            <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>

</ion-content>