<ion-header no-borde>
    <ion-toolbar color="dark">
        <ion-title>Calificar</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onCloseModal()" color="primary">
                <ion-icon name="close-outline"></ion-icon>
                Mas tarde
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="8">
                <h1>
                    {{ dataService.aliasCategory }} S/ {{dataService.rateOffer | number: '.2-2' }}
                </h1>
            </ion-col>
            <ion-col size="4">

                <img [src]=" pathImg + dataService.imgClient + '?token=' + token " alt="Raised Image" class="rounded-circle img-raised" style="height: 90px; width: 100px">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="text-center">
                <h4>{{ dataService.nameClient }}</h4>
                <p>
                    <b>Desde</b>&nbsp; {{ dataService.streetOrigin }}, <b>hasta</b>&nbsp; {{ dataService.streetDestination }} <br>
                    <small>
                        <b>
                            ( {{ dataService.distanceText }}&nbsp;-&nbsp;{{ dataService.minutesText }} )
                        </b>
                    </small>
                </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-item lines="none">
                    <ion-range min="1" max="5" step="1" mode="ios" ticks="true" pin="true" snaps="true" name="calification" [(ngModel)]="bodyCalif.calification" color="primary">
                        <ion-icon size="small" slot="start" name="star-outline" color="primary"></ion-icon>
                        <ion-icon slot="end" name="star" color="primary"></ion-icon>
                    </ion-range>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <textarea name="observation" rows="3" [(ngModel)]="bodyCalif.observation" class="form-control">

                </textarea>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button (click)="onCalification()" expand="block" fill="clear" shape="round">
                    Calificar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>