<ion-menu menuId="main-menu" contentId="main-content" side="end" type="overlay">

    <ion-content>
        <ion-list>

            <div class="row">
                <div class="col-12 text-right">
                    <small style="padding-right: 17px;">Llamataxiperu.com</small>
                </div>
            </div>

            <div class="row">
                <div class="col-6 text-left">

                    <p *ngIf="!loadingData" class="titleMenu">
                        Hola <br>
                        <span class="fontMenu">{{ st.name }}</span>
                    </p>
                    <i *ngIf="loadingData" class="fa fa-spinner fa-pulse"></i>
                </div>

                <div class="col-6 text-center">

                    <img *ngIf="!loadingData" [src]=" pathImg + st.dataUser.img + '?token=' + st.token " alt="Raised Image" class="rounded-circle img-raised" style="width: 100px; height: 100px;">

                    <i *ngIf="loadingData" class="fa fa-spinner fa-pulse"></i>

                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <br>
                    <br>
                    <!-- {{ currentDate | date }} -->
                </div>
            </div>

            <div class="row" style="height: 120px;">

            </div>

            <div class="row banner" (click)="onRedirect('/share-code')">
                <img src="./assets/img/015-bitcoin.png" class="icon" alt="Not found">
                <div class="col-2 text-center">
                    .
                </div>
                <div class="col-10">
                    <p style="padding-top: 5px;">
                        Acumula puntos y canjealos por premios
                    </p>
                </div>

                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle trhee"></div>
                <div class="circle four"></div>
            </div>

            <ion-item lines="none" class="itemGroup fontMenu">
                Puntos y regalos
            </ion-item>

            <ion-item detail (click)="onRedirect('/points')">
                <ion-icon slot="start" name="calendar-outline" color="primary"></ion-icon>
                Puntos
            </ion-item>

            <!-- <ion-item (click)="onRedirect('/coupon')" detail lines="none">
                <i slot="start" class="fas fa-ticket-alt" color="primary"></i>
                <ion-icon slot="start" name="ticket-outline" color="primary"></ion-icon> 
                Cupones
            </ion-item> -->

            <ion-item lines="none" class="itemGroup fontMenu">
                Jornada laboral
            </ion-item>

            <ion-item (click)="onRedirect('/journal')" detail>
                <ion-icon slot="start" name="hourglass-outline" color="primary"></ion-icon>
                Jornadas
            </ion-item>

            <ion-item (click)="onRedirect('/history')" detail>
                <ion-icon slot="start" name="reload-outline" color="primary"></ion-icon>
                Historial
            </ion-item>

            <ion-item (click)="onRedirect('/statistics')" detail>
                <ion-icon slot="start" name="bar-chart-outline" color="primary"></ion-icon>
                Mis estadísticas
            </ion-item>

            <ion-item (click)="onRedirect('/accounts')" detail lines="none">
                <i slot="start" class="fas fa-file-invoice-dollar"></i>
                <!-- <ion-icon slot="start" name="bar-chart-outline" color="primary"></ion-icon> -->
                Mis cuentas bancarias
            </ion-item>



            <ion-item lines="none" class="itemGroup fontMenu">
                Mi cuenta
            </ion-item>

            <ion-item (click)="onRedirect('/home')" detail>
                <ion-icon slot="start" name="home-outline" color="primary"></ion-icon>
                Inicio
            </ion-item>

            <ion-item (click)="onRedirect('/profile')" detail>
                <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
                Mi perfil
            </ion-item>
            <ion-item (click)="onRedirect('/vehicle')" detail>
                <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
                Mis vehículos
            </ion-item>
            <ion-item (click)="onRedirect('/change-password')" detail>
                <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                Cambiar contrase&ntilde;a
            </ion-item>

            <ion-item (click)="onRedirect('/contacts')" detail>
                <ion-icon slot="start" name="people-outline" color="primary"></ion-icon>
                Contacto emergencia
            </ion-item>

            <ion-item (click)="onRedirect('/message')" detail>
                <ion-icon slot="start" name="mail-unread-outline" color="primary"></ion-icon>
                <ion-badge slot="start" class="badgeMsg" color="danger" mode="ios" *ngIf="this.total > 0">
                    {{ this.total }}
                </ion-badge>
                Mensajería
            </ion-item>

            <!-- <ion-item (click)="onRedirect('card')" detail>
                <ion-icon slot="start" name="card-outline" color="primary"></ion-icon>
                Mis tarjetas
            </ion-item> -->

            <ion-item (click)="onRedirect('/disable-account')" detail>
                <ion-icon slot="start" name="close-outline" color="primary"></ion-icon>
                Eliminar cuenta
            </ion-item>

            <ion-item (click)="onLogOut()" detail lines="none">
                <ion-icon slot="start" name="power-outline" color="primary"></ion-icon>
                Cerrar sesi&oacute;n
                <ion-spinner *ngIf="loading" slot="end" name="bubbles" color="primary"></ion-spinner>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>