.menuLlama {
    // border-radius: 30px 0px 0px 30px;
    --background: #f5f5f5;
}

.fas {
    color: var( --ion-color-primary);
    font-size: 19px;
}

.fontMenu {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
}

.titleMenu {
    padding-left: 15px;
    padding-top: 20px;
}

.menuBack {
    --background: #f5f5f5;
    // --color: #e4e2e2;
    background-color: rgba($color: #f5f5f5, $alpha: 1.0);
}

.row {
    background-color: rgba($color: #f5f5f5, $alpha: 1.0);
}

.itemGroup {
    --background: rgba($color: #f5f5f5, $alpha: 1.0);
    background-color: rgba($color: #f5f5f5, $alpha: 1.0);
}

.icon {
    position: absolute;
    top: 16px;
    left: 1.5px;
    width: 50px;
    height: 40px;
}

.banner {
    position: absolute;
    left: 20px;
    top: 185px;
    background: rgb(22, 195, 103);
    background: linear-gradient(90deg, rgba(22, 195, 103, 1) 7%, rgba(90, 231, 156, 1) 28%, rgba(32, 210, 190, 1) 50%, rgba(40, 131, 255, 1) 77%, rgba(37, 77, 247, 1) 89%, rgba(57, 83, 198, 1) 96%);
    border-radius: 20px 20px 20px 20px;
    width: 97%;
    color: #FFF;
    font-weight: bold;
}

.circle {
    position: absolute;
    background-color: rgba($color: #5657ad, $alpha: 0.1);
    border-radius: 50px;
}

.one {
    top: 1px;
    left: -1px;
    width: 30px;
    height: 30px;
}

.two {
    left: 45px;
    width: 60px;
    height: 60px;
}

.trhee {
    top: 20px;
    right: 75px;
    width: 40px;
    height: 40px
}

.four {
    right: -1px;
    bottom: -1px;
    width: 75px;
    height: 75px
}

.fa-file-invoice-dollar {
    color: --var(--ion-color-primary);
    font-size: 21px;
    padding-left: 5px;
}