<ion-menu menuId="main-menu" contentId="main-content" side="end" type="overlay">
    <ion-header>
        <ion-toolbar color="dark">
            <div class="row">
                <div class="col-12 text-right">
                    <small style="padding-right: 17px;">Llamataxiperu.com</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">

                    <img *ngIf="!loadingData" [src]=" pathImg + st.dataUser.img + '?token=' + st.token " alt="Raised Image" class="rounded-circle img-raised" style="width: 100px; height: 100px;">

                    <i *ngIf="loadingData" class="fa fa-spinner fa-pulse"></i>

                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <br> {{ currentDate | date }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <h6 *ngIf="!loadingData">
                        <p>
                            {{ st.dataUser.nameComplete }}
                        </p>
                    </h6>
                    <i *ngIf="loadingData" class="fa fa-spinner fa-pulse"></i>
                </div>
            </div>

        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="onRedirect('/home')" detail>
                <ion-icon slot="start" name="home-outline" color="primary"></ion-icon>
                Inicio
            </ion-item>
            <ion-item (click)="onRedirect('/profile')" detail>
                <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
                Mi perfil
            </ion-item>
            <ion-item (click)="onRedirect('/vehicle')" detail>
                <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
                Mis vehículos
            </ion-item>
            <!-- <ion-item (click)="onRedirect('card')" detail>
                <ion-icon slot="start" name="card-outline" color="primary"></ion-icon>
                Mis tarjetas
            </ion-item> -->
            <ion-item (click)="onLogOut()" detail>
                <ion-icon slot="start" name="power-outline" color="primary"></ion-icon>
                Cerrar sesi&oacute;n
                <ion-spinner *ngIf="loading" slot="end" name="bubbles" color="primary"></ion-spinner>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>