<ion-header no-borde>
    <ion-toolbar color="dark">
        <ion-title>Detalle de servicio</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onCloseModal()" color="primary">
                <ion-icon name="close-outline"></ion-icon>
                Cerrar
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>

    <i class="far fa-thumbs-up iconCalif like"></i>
    <i class="far fa-smile-beam iconCalif happy"></i>
    <!-- <i class="fas fa-smile-beam iconCalif happyTwo"></i> -->
    <i class="fas fa-laugh-squint iconCalif happyTwo"></i>
    <i class="fas fa-map-marked-alt iconCalif map"></i>
    <i class="fas fa-street-view iconCalif client"></i>

    <ion-grid fixed>

        <ion-row>
            <ion-col size="8">
                <h3>
                    {{ dataService.aliasCategory }} S/ {{dataService.rateService | number: '.2-2' }}
                </h3>
                <p>
                    {{ dataService.paymentType | payment }}
                </p>
            </ion-col>
            <ion-col size="4">

                <img [src]=" pathImg + dataService.imgClient + '?token=' + token " alt="Raised Image" class="rounded-circle img-raised" style="height: 90px; width: 100px">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="text-center">
                <h5>{{ dataService.nameClient }}</h5>
                <br>
                <p>
                    <i class="fas fa-map-marker-alt text-info"></i>&nbsp; {{ dataService.streetOrigin }} <br>
                    <i class="fas fa-map-marker-alt text-primary"></i>&nbsp; {{ dataService.streetDestination }} <br>
                    <small>
                        <b>
                            ( {{ dataService.distanceText }}&nbsp;-&nbsp;{{ dataService.minutesText }} )
                        </b>
                    </small>
                    <small *ngIf="dataService.statusService === 3">

                        <br>
                        <i class="far fa-clock"></i> {{ dataServiceInfo.dateRunDestination | timeMoment }} - {{ dataServiceInfo.dateFinishDestination | timeMoment }}
                        <br>
                        <i class="fas fa-stopwatch"></i> {{ dataServiceInfo.dateRunDestination | timeMoment: dataServiceInfo.dateFinishDestination: true }} minutos
                    </small>
                </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="text-center">

                <div class="mapInfo" #mapInfo>

                </div>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>