<ion-header>
    <ion-toolbar mode="md" no-borde>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                <!-- <ion-icon slot="start" name="add"></ion-icon> -->
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar style="height: 120px;" no-borde>
        <ion-title class=" titlePage">
            <img src="../assets/img/logo-dark.png" alt="" style="width: 100px;"> Llamataxi-Perú
        </ion-title>
        <!-- <ion-title slot="start" style="height: 120px;">
    </ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-grid fixed>

            <ion-row>
                <ion-col size="12">
                    <ion-label>
                        <h1><b>Términos y condiciones Llamataxi-Perú</b></h1>
                        <p>
                            Términos y condiciones Llamataxi-Perú
                        </p>
                    </ion-label>
                </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size="12">

                    <p>

                        <b>LLAMA PERU</b> es una plataforma tecnológica de intermediación y como tal brinda el servicio de conexión entre los usuarios “conductores” y usuarios “pasajeros” en la ciudad de Lima y en otras ciudades del Perú. Al hacer uso
                        de esta plataforma ambos usuarios aceptan automáticamente los términos y condiciones del presente contrato, los cuales declaran conocer y se comprometen respetar.

                    </p>
                    <h3>
                        <b>1) GLOSARIO DE TERMINOS:</b>
                    </h3>
                    <p>
                        A efecto de los presentantes términos y condiciones contractuales, se entenderá por cada uno de los siguientes términos: <br> <b>A)</b> Aplicación <b>“Llama Perú”</b> o <b>“Aplicación Llama”</b> o <b>“Llama”</b> es una plataforma
                        tecnológica de intermediación y como tal brinda el servicio de conexión entre los usuarios “conductores” y usuarios “pasajeros” en la ciudad de Lima y en otras ciudades del Perú. <br> <b>B)</b> “Contraseña” son los códigos o identificadores
                        usados para tener acceso a la aplicación. <br> <b>C)</b> “Usuario Pasajero” es la persona que, al haber culminado satisfactoriamente el procedimiento de registro en la aplicación, hace uso del servicio y acepta los términos y condiciones
                        del mismo.
                        <br><b> D)</b> “Usuario Conductor” es aquella persona natural que brinda el servicio de transporte de pasajeros y que al haber cumplido previamente todas las condiciones y requisitos de “LLAMA PERU” ha sido autorizado para utilizar
                        la aplicación que le permite aceptar solicitudes de los “Usuarios Pasajeros”.
                    </p>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h3>
                        <b>
                2) REQUISITOS PARA LA CONEXIÓN Y SERVICIOS EN LÍNEA:
              </b>
                    </h3>
                    <p>
                        Para acceder a los servicios de la aplicación de Llama Taxi., los usuarios “pasajeros” y “conductores” necesitan contar con una conexión a internet y la función de GPS activada en un aparato que tenga las características técnicas compatibles con el sistema.
                    </p>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <h3>
                        <b>
                          3) DERECHOS Y OBLIGACIONES DEL USUARIO CONDUCTOR
                        </b>
                    </h3>
                    <p>
                        Corresponde a los usuarios conductores los siguientes derechos y obligaciones específicas, en adición a las que le corresponden de acuerdo a ley: <br>
                        <b>a)</b> Cumplir con todas las obligaciones a las que se ha comprometido de acuerdo a los presentes términos y condiciones, así como los demás documentos y/o términos que suscriba para acceder al uso de la Plataforma. <br>
                        <b>b)</b> Pagar a Llama Taxi por el acceso al servicio de la Plataforma el monto correspondiente al acuerdo específico al momento de ser aceptado y/o las actualizaciones que se establezcan en el futuro, las cuales serán debidamente
                        comunicadas. <br>
                        <b>c)</b> Brindar un servicio de transporte de pasajeros de óptima calidad, dentro de los términos y condiciones acordadas, respetando la tarifa fijada y comunicada debidamente a los usuarios pasajeros. <br>
                        <b>d)</b> Tiene derecho de aceptar o rechazar las solicitudes de servicios que envíe el Usuario Pasajero, pero cumplirla rigurosamente en caso que decida aceptarla. <br>
                        <b>e)</b> Debe comunicar inmediatamente a los usuarios pasajeros y a la Llama Taxi de cualquier objeto extraviado u olvidado en el vehículo a efecto de su respectiva devolución, sin solicitar recompensa alguna por la misma. A este
                        efecto Llama Taxi puede solicitar al Usuario Pasajero algún medio probatorio o de identificación para demostrar la propiedad del objeto. <br>

                        <b>f)</b> Comunicar de manera inmediata a Llama Taxi y a las autoridades policiales de cualquier incidente que pudiera comprometer su propia integridad y/o seguridad y/o la de los usuarios pasajeros.

                        <b>g)</b> No publicar ningún tipo de información y/o contenido en las redes sociales o cualquier otro espacio creado por Llama Perú, que atenten contra los 4 derechos de propiedad intelectual o industrial de Llama Perú, el derecho
                        a la privacidad de las personas, así como el honor y la reputación, la dignidad, la igualdad entre las personas, el uso de imágenes de menores de edad o cualquier otro contenido de implicancia ilegal y abusiva de acuerdo a la normatividad
                        nacional.
                        <b>h)</b> Usuario Conductor tiene la obligación de respetar los derechos de propiedad industrial e intelectual de Llama Taxi, por tanto, está prohibido de usar, reproducir, alterar o de cualquier forma, atentar contra dichos derechos.
                        <br>

                        <b>i)</b> Hacer uso correcto de la plataforma de acuerdo a los presentes términos y condiciones, reconociendo y aceptando que esta no implica ninguna relación laboral, de subordinación o exclusividad con Llama Taxi. <br>
                        <b>j)</b> No utilizar la Plataforma para promover ningún tipo de negocios, sin autorización del titular, ni generar enlaces, spam, anuncios publicitarios y cualquier otro esquema de aprovechamiento y/o saturación de la plataforma
                        o uso ilícito de la misma, de acuerdo a los presente términos y condiciones y al ordenamiento jurídico vigente. <br>

                        <b>k)</b> Que, en caso el usuario tuviera asociada su cuenta Facebook, autoriza expresamente el uso de su foto de perfil de Facebook, para que el “usuario conductor” pueda acceder a él a fin de un mejor reconocimiento. <br>
                        <b>l)</b> No podrá realizar ningún tipo de intervención, ni manipulación sobre el software de la “Aplicación” que implique violación a la propiedad intelectual y/o industrial de la misma, ni directa, ni indirectamente a través
                        del rediseño, adaptación, ingeniería inversa, revertir la ingeniería, y cualquier otra forma.

                    </p>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-list>


</ion-content>